.leftpane{
    background-color: #95ced0;
}

.order-container{
    background-color: rgb(120, 190, 167);
}
.rightpane{
    background-color: rgb(226, 173, 224);
}
/*.pos-content {
  .product-screen {
    .order-container {
      li {
        padding: 1rem;
      }
    }
  }
}*/